@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-active {
  @apply !bg-white !text-black;
}

.line-pattern {
  @apply w-[50px] bg-emerald-500 h-[5px] rounded-sm;
}

.line-pattern::before {
  @apply content-[''] block w-[20px] bg-emerald-500 h-[5px] rounded-sm ml-[60px];
}

.line-pattern::after {
  @apply content-[''] block w-[20px] bg-emerald-500 h-[5px] rounded-sm ml-[-30px] box-border mt-[-5px];
}

.swiper-button-next,
.swiper-button-next-adv {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16' viewBox='0 0 10 16' fill='none'%3E%3Cpath d='M1 15L8 8L1 1' stroke='%231D764A' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-position: center !important;
}
.swiper-button-prev,
.swiper-button-prev-adv {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L2 8L9 15' stroke='%231D764A' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-position: center !important;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next-adv::after,
.swiper-button-prev-adv::after {
  display: none !important;
}
.swiper-pagination-bullet {
  background: #1d764a !important;
}

.swiper-pagination-bullet-active {
  width: 0.6rem;
  height: 0.6rem;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-routing-container {
  display: none;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #fff;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(155, 155, 155, 0.1);
  border-radius: 10px;
}

.scroll-downs {
  position: absolute;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 5px 10px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 7px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
